/* Universal Stylings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4A4A4A;
}

a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

a:link {text-decoration: none;color: grey;}
a:hover {text-decoration: underline; color: yellow;}
a:visited {text-decoration: none;color: grey;}
a:active {text-decoration: none;color: grey;}

img {
    overflow: hidden;
}

/* Header */

/* Logo */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    padding: 20px 3%;
    background-color: black;
    border-bottom: #4A4A4A 1px solid;
}

.site-motto {
    color: grey;
    position: relative;
    display: block;
}
.beyond {
    display: inline;
}
.beyond .desktop li {
    list-style-type: none;
    font-style: italic;
}

#logo {
    display: inline-block;
    text-align: center;
    width: 250px;
}

#logo strong {
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.1rem;    
}

.navigation {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    padding: 20px 0px;
    margin: 10px;
}

.decktop li a {
    color: ivory;
    
}

.mobile {
    display: none;
}

/*
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    padding: 20px 3%;
    background-color: black;
    border-bottom: grey;
}

#logo {
    display: block;
    text-align: center;
}

#logo strong {
    color: white;
    font-size: 1.5rem;
}


/* Nevigation */

/*
.nevigation {
    position: absolute;
    float: right;
    
}

ul {
    
    list-style-type: none;
}

ul li {
    display: inline;
    padding: 0px 20px;
}



.mobile {
    display: none;
}


/* Main Content */

/* Banner */ 
.main {
    padding-top: 70px;
}

.banner {
    position: fixed;
}

.banner video {
    z-index: 10;

}

.banner::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 20;
    opacity: 0.3;

}

/*
.banner video {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transform: translate(-50% -10%);
    clip: rect(0px,500px,300px,0px);
}
 
.banner::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    z-index: 10;
}
*/

.banner .text-container {
    display: block;
    position: absolute;
    z-index: 50;
    top: 30%;
    left: 25%;
}

.banner .text-container .text {
    color: whitesmoke;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner .text-container .CTA-sign-up {
    position: absolute;
    left: 45%;
    margin-top: 0.5rem;
    background-color: black;
    color: whitesmoke;
    padding: 10px 50px;
    border-radius: 10px;
}

.banner .text-container .CTA-sign-up a {
    color: whitesmoke;
}

.banner .reference {
    display: block;
    width: 98%;
    text-align: end;
    top: 80%;
    position: absolute;
    color: whitesmoke;
    margin: 10px;
}
