/* Universal Stylings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4A4A4A;
    background-color: black;
}

a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
 
a:link {text-decoration: none;color: grey;}
a:hover {text-decoration: underline; color: rgb(0, 153, 255);}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}

i {
    color: whitesmoke;
    cursor: pointer;
}

img {
    overflow: hidden;
}

/* Header */

/* Logo */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    padding: 20px 3%;
    background-color: black;
    border-bottom: #4A4A4A 1px solid;
}
/*
.site-motto {
    color: grey;
    position: relative;
    display: block;
}
.beyond {
    display: inline;
}
.beyond .desktop li {
    list-style-type: none;
    font-style: italic;
}
*/

#logo {
    display: inline-block;
    float: left;
    text-align: center;
    width: 250px;
}

#logo strong {
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.1rem;    
}

.navigation {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    padding: 20px 0px;
    margin: 10px;
}

nav li a {
    color: #727272;
    
}

.mobile {
    display: none;
}

/*
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    padding: 20px 3%;
    background-color: black;
    border-bottom: grey;
}

#logo {
    display: block;
    text-align: center;
}

#logo strong {
    color: white;
    font-size: 1.5rem;
}


/* Nevigation */

/*
.nevigation {
    position: absolute;
    float: right;
    
}

ul {
    
    list-style-type: none;
}

ul li {
    display: inline;
    padding: 0px 20px;
}



.mobile {
    display: none;
}



/* Banner */ 
.main {
    padding-top: 70px;
}

.banner {
    position: relative;
}

.banner video {
    z-index: 10;
}

.banner::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 20;
    opacity: 0.3;

}

/*
.banner video {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transform: translate(-50% -10%);
    clip: rect(0px,500px,300px,0px);
}
 
.banner::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    z-index: 10;
}
*/

.banner .text-container {
    display: flex;
    position: absolute;
    z-index: 30;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .text-container .text {
    color: whitesmoke;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner .text-container .CTA-sign-up {
    position: relative;
    margin-top: 0.5rem;
    background-color: black;
    color: whitesmoke;
    padding: 10px 50px;
    border-radius: 10px;
}

.banner .text-container .CTA-sign-up a {
    color: whitesmoke;
}

.banner .reference {
    display: block;
    width: 98%;
    text-align: end;
    position: absolute;
    top: 90%;
    z-index: 30;
    color: rgba(255, 255, 255, 0.568);
    margin: 10px;
}

/* Main Content */

.main-content {
    position: relative;
    color: whitesmoke;
    background-color: black;
}


/* About */

.about {
    display: block;
    margin: 6rem 12rem;  
}

.about .section {
    color: #656565;
    font-weight: 200;
}

.about .text-container h4 {
    font-size: 2.5rem;
}

.about .text-container h2 {
    padding-left: 2rem;
    line-height: 4.5rem;
    font-size: 4rem;
    color: wheat;
}

.about .text-container h5 {
    padding-left: 10%;
    padding-top: 1rem;
}

.about .content {
    display: flex;
    margin: 2rem 4rem;
    padding-top: 2rem;
}   

.content .text-container {
    position: absolute;
    left: 20%;
    z-index: 30;
    font-size: 2.5rem;
    padding-top: 2rem;
}

.content .text-container h2 {
    margin: 2rem;
    padding-top: 2rem;
}

.content .image-container img {
    position: absolute;
    left: 50%;
    width: 33%;
    z-index: 20;
}


/* Beyond CV */

.beyond-CV {
    position: relative;
    margin: 6rem 12rem;
    top: 35rem;
    border-top: #4A4A4A 1px solid;
    padding-top: 2rem;
}

.beyond-CV .section {
    color: #656565;
}

.beyond-CV .content-box {
    padding-top: 4rem;
    margin: 2rem 8rem;
    margin-top: 0;
}

.table {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 4rem;
}

.table .image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 40%;
}

.table .image-container img {
    width: 300px;
    height: auto;
}

.table .image-container #meyes {
    margin-top: 5rem;
}

.table .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table .text-container h4 {
    margin: 1rem;
    padding-right: 1rem;
    border-right: #4A4A4A 1px solid;
}

.table .text-container h5 {
    padding-left: 1rem;
    font-family: sans-serif;
    font-weight: 100;
}

.table .text-container span {
    color: wheat;
    font-weight: 500;
    font-size: 1.5rem;
}

.table .text-container a:hover {
    text-decoration: underline; 
    color: rgb(0, 153, 255)
}
.table .text-container a:visited {
    color: whitesmoke;
}

.text-container h5 #bright {
    color: yellow;
    font-size: 1rem;
}
h5 #blue {
    color: rgb(83, 115, 255);
}
h5 #white {
    color: whitesmoke;
    font-size: 1rem;
}

/* Beyond Eye Level */

.beyond-eye-level { 
    position: relative;
    margin: 6rem 12rem;
    top: 40rem;
    border-top: #4A4A4A 1px solid;
    padding-top: 2rem;
}

.beyond-eye-level .section {
    color: #656565;
}

.beyond-eye-level .content-box {
    padding-top: 4rem;
    margin: 2rem 2rem;
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    width: ;
    height: ;
}

.beyond-eye-level .image-container img {
    height: 280px;
    width: auto;
}

/* Footer */

footer {
    position: relative;
    top: 40rem;
    width: 100%;
    background-color: black;
    padding: 2rem;
    text-align: center;
    border-top: #4A4A4A 1px solid;
}

footer .contact {
    margin-left: 8rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    color: whitesmoke;
    font-size: 1.3rem;
    border-left: wheat 2px solid;
    line-height: 1.5rem;
}

footer .contact h4 {
    padding-bottom: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

footer .contact h5,
footer .contact .icon {
    padding-top: 1rem;
}

footer .contact .icon a:visited {
    color: whitesmoke;
}

footer .contact .icon a:hover {
    text-decoration: underline; color: rgb(0, 153, 255);
}

footer #footer {
    position: relative;
    top: 4rem;
    padding-bottom: 1rem;
} 